.input {
  border: none;
  margin:50px 30%;
  width:200px;
  height:100px;
  box-shadow: 1 1 5px rgba(0,0,0,1);
  box-sizing: border-box;
  padding:0;
 
}

.Image{
    width:100px;
    height:auto;
    display: block;
    margin-bottom:50px;
    margin:auto
}

.Container{
  margin: 0;
  width:100%;

}
